/*
vsdropdown styles
*/
.vsdropdown {
    position: relative;
    min-width: 180px;
    border: 1px solid #999;
    width: 100%;
}

.vsdropdown,
.vsdropdown * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.vsdropdown .vsselectiongroup {
    position: relative;
    display: table;
    border: none;
}

.vsdropdown .vsselection {
    background-color: #FFF;
    height: 38px;
    display: table-cell;
    position: absolute;
    width: 100%;
}

.vsdropdown .vsselbtngroup {
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    width: 1%;
    display: table-cell;
    text-align: right;
    font-size: 0;
}

.vsdropdown .vsbtnselector,
.vsdropdown .vsbtnselections {
    height: 38px;
    width: 30px;
    border: none;
    border-left: 1px solid #999;
    padding: 0px;
    cursor: pointer;
    outline: 0;
    -moz-user-select: none;
    background: #FAFAFA;
    background-image: -webkit-linear-gradient(#F0F0F0 30%, #AEC2E1 100%);
    background-image: -moz-linear-gradient(#F0F0F0 30%, #AEC2E1 100%);
    background-image: -o-linear-gradient(#F0F0F0 30%, #AEC2E1 100%);
    background-image: -ms-linear-gradient(#F0F0F0 30%, #AEC2E1 100%);
    background-image: linear-gradient(#F0F0F0 30%, #AEC2E1 100%);
}

.vsdropdown .vsselbtngroup button:focus,
.vsdropdown .vsselbtngroup button:hover {
    background: #ADD8E6;
}

.vsdropdown .vsselectioncounttxt {
    color: #000;
    cursor: pointer;
    position: absolute;
    bottom: 1px;
    right: 32px;
    font-size: 10px;
}

.vsdropdown .vsiconcross,
.vsdropdown .vsiconclear,
.vsdropdown .vsiconproperties,
.vsdropdown .vsiconcheck,
.vsdropdown .vsiconoverlaycross {
    cursor: pointer;
    font-size: 14px;
    outline: 0;
}

.vsdropdown .vsiconoverlaycross {
    font-size: 11px;
}

.vsdropdown .icon:hover:not(.icon-check):not(.icon-up):not(.icon-down):not(.icon-selections) {
    color: #FF625B;
}

.vsdropdown .icon:focus:not(.icon-check):not(.icon-up):not(.icon-down):not(.icon-selections) {
    color: #5FB4E6;
}

.vsdropdown .vsselector {
    padding: 1px;
    background-color: #FFF;
    z-index: 1000;
    position: absolute;
    left: -1px;
    right: -1px;
    padding: 2px;
    border-radius: 0 0 2px 2px;
}

.vsdropdown .vsitemcontent {
    width: 100%;
    table-layout: fixed;
}

.vsdropdown .vsiteminclude {
    display: table-cell;
    vertical-align: middle;
}

.vsdropdown .vsitem {
    height: 36px;
    padding-left: 4px;
    cursor: pointer;
    display: table;
}

.vsdropdown .vsitem:not(last-child) {
    margin-bottom: 1px;
}

.vsdropdown .vsitemtext {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    padding-right: 4px;
}

.vsdropdown .vsfiltergroup {
    margin-bottom: 2px;
}

.vsdropdown .vsfilterinput {
    border: none;
    background-color: transparent;
    padding-left: 8px;
    height: 36px;
    width: 100%;
    outline: 0;
    border-radius: 2px;
}

.vsdropdown .vsfiltermatchtext {
    padding: 0px 2px;
    background-color: inherit;
    text-align: right;
    color: #000;
}

.vsdropdown .vsiconfilterclear,
.vsdropdown .vsfiltermatch {
    border: none;
    background-color: inherit;
    width: 1px;
    white-space: nowrap;
    padding-right: 4px;
}

.vsdropdown .vsoverlaytitle {
    display: table;
    padding: 2px 4px;
    margin: 2px;
    border-radius: 2px;
    background-color: #FFF;
}

.vsdropdown .vsoverlaytitletext {
    font-size: 13px;
    font-weight: bold;
    background-color: inherit;
    color: #000;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.vsdropdown .vsiconoverlaycross {
    background-color: inherit;
    display: table-cell;
    vertical-align: middle;
}

.vsdropdown .vsselecteditem {
    padding: 0 4px;
    height: 34px;
    display: table;
}

.vsdropdown .vsselection .vsselecteditem {
    margin: 2px;
}

.vsdropdown .vsoverlay {
    background-color: #FAFAFA;
    z-index: 1002;
    top: -1px;
    left: -1px;
    right: -1px;
}

.vsdropdown .vsoverlay .vsselecteditem {
    margin: 2px;
}

.vsdropdown .vsoverlay .vsselecteditem:last-child {
    margin-bottom: 2px;
}

.vsdropdown .vsiconselector,
.vsdropdown .vsiconselections {
    font-size: 16px;
}

.vsdropdown .vstooltip {
    background-color: #FFFFCC;
    color: #000;
    padding: 6px;
    z-index: 1003;
    white-space: normal;
    font-weight: normal;
    border-radius: 4px;
}

.vsdropdown .vstooltip:before {
    border-right: 10px solid #888;
    left: -10px;
}

.vsdropdown .vstooltip:after {
    border-right: 8px solid #FFFFCC;
    left: -8px;
}

.vsdropdown .vstooltip:before,
.vsdropdown .vstooltip:after {
    content: ' ';
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    position: absolute;
    z-index: 1003;
    top: 5px;
}

.vsdropdown .vstooltiptext {

}

.vsdropdown .vsoverlay,
.vsdropdown .vstooltip {
    border: 1px solid #AAA;
    position: absolute;
    -moz-box-shadow: 0 0 14px #000;
    -webkit-box-shadow: 0 0 14px #000;
    box-shadow: 0 0 14px #000;
}

.vsdropdown .vsproperties {
    border-collapse: collapse;
    border-spacing: 0px;
    max-width: 350px;
}

.vsdropdown .vsproperties th {
    background-color: #EEE;
    text-align: center;
    padding: 4px 22px;
    font-weight: bold;
}

.vsdropdown .vsproperties td {
    background-color: #FAFAFA;
    text-align: justify;
    word-wrap: break-word;
    max-width: 250px;
    padding: 4px 6px;
}

.vsdropdown .vsitem,
.vsdropdown .vsselector,
.vsdropdown .vsoverlaytitle,
.vsdropdown .vsselecteditem,
.vsdropdown .vsfiltergroup,
.vsdropdown .vsproperties th,
.vsdropdown .vsproperties td {
    border: 1px solid #999;
}

.vsdropdown div,
.vsdropdown .vsdetails th,
.vsdropdown .vsdetails td,
.vsdropdown .vsproperties td {
    color: #3A87AD;
}

.vsdropdown .vsitem,
.vsdropdown .vsselecteditem,
.vsdropdown .vsfiltergroup {
    border-radius: 2px;
}

.vsdropdown table,
.vsdropdown table tr,
.vsdropdown table td,
.vsdropdown table th {
    border: none;
    text-align: left;
    line-height: 1.1;
    border-collapse: separate;
    border-spacing: 0;
}

.vsdropdown .vsselecteditemcolor {
    background-color: #EEE;
}

.vsdropdown .vsfocuseditemcolor {
    background-color: #98FEFF;
}

.vsdropdown .vshitsfilter {
    -moz-box-shadow: 0 0 5px #00FF00 inset;
    -webkit-box-shadow: 0 0 5px #00FF00 inset;
    box-shadow: 0 0 5px #00FF00 inset;
}

.vsdropdown .vsnohitsfilter {
    -moz-box-shadow: 0 0 5px #FF0000 inset;
    -webkit-box-shadow: 0 0 5px #FF0000 inset;
    box-shadow: 0 0 5px #FF0000 inset;
}

.vsdropdown .vsscrollbar:focus {
    outline: 1px solid #98FEFF;
}

.vsdropdown input[type=text]::-ms-clear {
    display: none;
}

.vsdropdown ::-moz-focus-inner {
    border: 0;
}

/*
    Icons
*/
@font-face {
    font-family: 'vsdropdown';
    src: url(data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMg8SAvUAAAC8AAAAYGNtYXDMXczgAAABHAAAAGxnYXNwAAAAEAAAAYgAAAAIZ2x5ZrzdOJ0AAAGQAAAF2GhlYWQGkhtTAAAHaAAAADZoaGVhB8kDxgAAB6AAAAAkaG10eCIAAhoAAAfEAAAALGxvY2EICAhsAAAH8AAAABhtYXhwABUCJAAACAgAAAAgbmFtZRvY51IAAAgoAAABqnBvc3QAAwAAAAAJ1AAAACAAAwPAAZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADmCwPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAAAAADAAAAAwAAABwAAQADAAAAHAADAAEAAAAcAAQAUAAAABAAEAADAAAAAQAg5gPmB+YJ5gv//f//AAAAAAAg5gDmB+YJ5gv//f//AAH/4xoEGgEaABn/AAMAAQAAAAAAAAAAAAAAAAAAAAAAAQAB//8ADwABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAACACoAcgQGAxUABAAJAAABFwEnAQE3AQcBA4KE/cKEAj78qIYBoIb+YAMVjv3rjgIV/uyM/nOMAY0AAAAJACAAAAPgA4gAGQB+AJsAxwDzAWQBkAG8AiEAADcOARU4ATEVFBYzITI2PQE0JiMhKgExKgEjAQ4BFSYGBzQUBzYwFTAUMRUwFDEwFDEeARcUFhcwFjMiMDEwMjEzMDIxMDIxPgE3FDY3MDY1FDQxPAExNTA0MTQmJy4BJzImJzImJxYUIyoBMTAiMTAiMSMwIjEwIjEwIiMqATEFDgEVMBQdARQWFyE+AT0BNDA1NCYnITgBIzgBIxMeATMwMjEzOAEzMjY1OAExETgBMTQmIyIwMSM4ATEiBhU4ATERHAEVHAEVJR4BMzAyMTM4ATEyNjU4ATEROAExNCYjOAExIzgBMSIGFTgBMREwFBUcATEBMDIVMDIVMDIVMDIVMDIVMDIxOgE3BjI3MxY2NwY0MTA2MTA2MTA2MTA2MTA2MTwBJxYyMTA2MTwBJzc0JjUUJicwJjEuATEiNDEiNDEiBiM2BisBIgYjMgYHOAExBjAVDgEVMBQXJhQXBxwBFyYUFwMeATMyMDsBOAExMjY1OAE1ETQwMTQmIzgBMSMwIjEiBhU4ARURHAEVMBQxMx4BMzAyOwE4ATEyNjU4ATURNDAxNCYjOAErASIwMSIGFTgBFREUBhUwFjEDMDIVMDIVMDIVMDIVMDIVMDIxOgE3BjI3MzoBNwY2NwY2MTA2MT4BNT4BPQEuAScwJjEuASMwNDEiNCMiBiM2BisBIgYjMgYHOAEjFDAVIjAHOAEVBhYVNBQVNBQdARwBFyIUF4EOExYPAvYPFhYP/QoBAQEBAQEoAgMBAQEBAQEBAgMDAwEBAaQBAQIDAQMBAgEBAQMBAQIBAQIBAgEBAQEBpAEBAQEBAf6aDhQWDgN4DhYVD/yIAQEeAx0TARgBFR4eFQEYFh4CwAIdFAEYFh4eFhgWHv6BAQEBAQEBAgICAgICDAIDAgIBAQEBAQEBAQEBAQEBAQEBAQEBAgICAQECDAICAgICAQEBAQEBAQEBAQFIAxUNAQESEBcXEBIBEBbtAxQOAQESEBYWEAERARAWAQEMAQEBAQEBAQMBAQIBDQEDAQECAQEBAQEBAQEBAQEBAQEBAQEBAwEBAgEMAgMBAQEBAQEBAQEBAQGAAh4UGBYeHhYYFh4DBgEDAwECAQEDAQEBAgoBAQIDAQEDAQEBAQIBAQIEAgEBAQEKAQIEAQECAQEBAQEBAUYCHhUBARUVHgEBHhUVAQEWHgH8/AwQFA4Cog4UFA79XgEBAQEBAQINERQOAqIOFBQO/V4BAQEBAuEBAQEBAQEBAQEBAQEBAQEBAQECAgIDAQICAlACAgICAgEBAQEBAQEBAQEBAQEBAQICAwEBAgFRAQMBAQMB/dIGCQsIAQFYAQgLCwgB/qgBAQECBgkLCAEBWAEICwsIAf6oAQEBAgIwAQEBAQEBAQEBAQIBAQEBAQMBAQIBUwIEAQEBAQEBAQEBAQEBAQEBAQEDAQECAQECAVEBBAECAQAAAgBwADADkANQAAQACQAANwEnARcDATcBB+kCp3n9WXl5Aqd5/Vl5MAKnef1ZeQKn/Vl5Aqd5AAABAEAAoAPAAuAAAwAAEwUBA0ADgP493wLgA/3DASAAAAEA4AAAAyADgAADAAA3EwEF4AMCPf7gAAOA/j3fAAAABQAAAMAD/ALAAAQACQAOABMAGAAAEyEVITUVIRUhNRUhFSE1ARcBJwEFNwEHAQABIP7gASD+4AEg/uADnl7+Zl4Bmv2eXwEoX/7YArBgYMBgYMBgYAGQbP5sbAGU0Wr+0moBLgAAAAABAEAAoAPAAuAAAwAALQEBEwPA/IABw9+gAwI9/uAAAAEAAAABAABk87uZXw889QALBAAAAAAA0bbrZwAAAADRtutnAAAAAAQGA4gAAAAIAAIAAAAAAAAAAQAAA8D/wAAABAAAAP/6BAYAAQAAAAAAAAAAAAAAAAAAAAsEAAAAAAAAAAAAAAACAAAABAAAKgQAACAEAABwBAAAQAQAAOAEAAAABAAAQAAAAAAACgAUAB4APAJsAogCmAKoAtwC7AABAAAACwIiAAkAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAADgCuAAEAAAAAAAEACgAAAAEAAAAAAAIABwB7AAEAAAAAAAMACgA/AAEAAAAAAAQACgCQAAEAAAAAAAUACwAeAAEAAAAAAAYACgBdAAEAAAAAAAoAGgCuAAMAAQQJAAEAFAAKAAMAAQQJAAIADgCCAAMAAQQJAAMAFABJAAMAAQQJAAQAFACaAAMAAQQJAAUAFgApAAMAAQQJAAYAFABnAAMAAQQJAAoANADIdnNkcm9wZG93bgB2AHMAZAByAG8AcABkAG8AdwBuVmVyc2lvbiAxLjAAVgBlAHIAcwBpAG8AbgAgADEALgAwdnNkcm9wZG93bgB2AHMAZAByAG8AcABkAG8AdwBudnNkcm9wZG93bgB2AHMAZAByAG8AcABkAG8AdwBuUmVndWxhcgBSAGUAZwB1AGwAYQBydnNkcm9wZG93bgB2AHMAZAByAG8AcABkAG8AdwBuRm9udCBnZW5lcmF0ZWQgYnkgSWNvTW9vbi4ARgBvAG4AdAAgAGcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAASQBjAG8ATQBvAG8AbgAuAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==) format('truetype');
    font-weight: normal;
    font-style: normal;
}

.icon {
    font-family: 'vsdropdown';
    color: #000;
    background: transparent !important;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
    content: "\e600";
}

.icon-clear:before {
    content: "\e601";
}

.icon-cross:before {
    content: "\e602";
}

.icon-down:before {
    content: "\e603";
}

.icon-right:before {
    content: "\e607";
}

.icon-selections:before {
    content: "\e609";
}

.icon-up:before {
    content: "\e60b";
}

/*
vsscrollbar styles
*/

.vsscrollbarcontainer {
    position: relative;
    min-width: 150px;
    width: 100%;
    background-color: #FFF;
    border-radius: 2px;
}

.vsscrollbarcontainer * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.vsscrollbarcontainer .vsscrollbarcontent {

}

.vsscrollbarcontainer .vsscrollbar {
    width: 20px;
    background: #CCC;
    background: -webkit-linear-gradient(left, #CCC, #999, #BBB);
    background: -o-linear-gradient(right, #CCC, #999, #BBB);
    background: -moz-linear-gradient(right, #CCC, #999, #BBB);
    background: linear-gradient(to right, #CCC, #999, #BBB);
    margin-left: 2px !important;
}

.vsscrollbarcontainer .vsscrollbox {
    background: #BBB;
    background: -webkit-linear-gradient(left, #DDD, #999);
    background: -o-linear-gradient(right, #DDD, #999);
    background: -moz-linear-gradient(right, #DDD, #999);
    background: linear-gradient(to right, #DDD, #999);
    border: 1px solid #444;
    cursor: pointer;
}

.vsscrollbarcontainer .vsscrollbox:hover,
.vsscrollbarcontainer .vsscrollbox:focus {
    background: #ADD8E6;
}

.vsscrollbarcontainer .vsscrollbar,
.vsscrollbarcontainer .vsscrollbox {
    border-radius: 2px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
