/*
vsscrollbar styles
*/

.vsscrollbarcontainer {
    position: relative;
    min-width: 150px;
    width: 100%;
    background-color: #FFF;
    border-radius: 2px;
}

.vsscrollbarcontainer * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.vsscrollbarcontainer .vsscrollbarcontent {

}

.vsscrollbarcontainer .vsscrollbar {
    width: 20px;
    background: #CCC;
    background: -webkit-linear-gradient(left, #CCC, #999, #BBB);
    background: -o-linear-gradient(right, #CCC, #999, #BBB);
    background: -moz-linear-gradient(right, #CCC, #999, #BBB);
    background: linear-gradient(to right, #CCC, #999, #BBB);
    margin-left: 2px !important;
}

.vsscrollbarcontainer .vsscrollbox {
    background: #BBB;
    background: -webkit-linear-gradient(left, #DDD, #999);
    background: -o-linear-gradient(right, #DDD, #999);
    background: -moz-linear-gradient(right, #DDD, #999);
    background: linear-gradient(to right, #DDD, #999);
    border: 1px solid #444;
    cursor: pointer;
}

.vsscrollbarcontainer .vsscrollbox:hover,
.vsscrollbarcontainer .vsscrollbox:focus {
    background: #ADD8E6;
}

.vsscrollbarcontainer .vsscrollbar,
.vsscrollbarcontainer .vsscrollbox {
    border-radius: 2px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
