html {
    overflow-y: scroll;
}

body {
    margin: 20px 100px 20px 100px;
    min-width: 180px;
}

h3, h5 {
    background-color: #78FA89;
    padding: 8px;
    border: 1px solid #AAA;
    border-radius: 3px;
}

p {
    font-size: 14px;
}

/*
@media screen and (max-width: 1100px) {
    #pagemargin
    {
        margin: 20px 10px 20px 10px;
    }
}
*/
