html {
    overflow-y: scroll;
}

body {
    margin: 20px 350px 20px 350px;
    min-width: 180px;
}

h3, h5 {
    background-color: #78FA89;
    padding: 8px;
    border: 1px solid #AAA;
    border-radius: 3px;
}

p {
    font-size: 14px;
}

@media screen and (max-width: 1100px) {
    body
    {
        margin: 20px 300px 20px 300px;
    }
}

@media screen and (max-width: 900px) {
    body {
        margin: 20px 200px 20px 200px;
    }
}

@media screen and (max-width: 700px) {
    body {
        margin: 20px 100px 20px 100px;
    }
}

@media screen and (max-width: 500px) {
    body {
        margin: 20px 10px 20px 10px;
    }
}

